<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>

<main class="container bg-blur rounded mt-1 mb-4">

    <div class="container my-main">

            <span class="display-block text-align:left">
                  <h2 class="text-dark border-bottom">JOB TO DO!!</h2>
                 <span th:each="a : ${all}" th:object="${a}" >
                  <div class="column-H">


                     <h3 class="card-text border-bottom" th:text="'Creator: ' + ${a.getUsername()}"></h3>
                     <h3 class="card-text border-bottom" th:text="'Message: ' + ${a.getText()}"></h3>
                    </div>
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/admin/delete/{id}(id = ${a.getId()})}">DONE!</a>
                    </div>


                </span>

              <div>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>