<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="container bg-blur rounded mt-1 mb-4">
    <dir class="container my-main">
        <h3 class="bg-blur text-dark  mb-0 mt-2">Heroes</h3>
    </dir>
    <div class="container my-main">

            <span class="row-H">
                <span th:each="a : ${allH.getContent()}" th:object="${a}" >
                  <div class="column-H">
                        <div class="image-upload borded">
                        <label for="picture">
                            <img  th:src="${a.imgUrl}" alt="cloudinary.com"/>
                        </label>
                        <input style="display: none" id="picture" type="file" th:name="picture"/>
                       </div>
                      <p class="card-text border-bottom" th:text="'Name: ' + ${a.getHeroName()}"></p>
                      <p class="card-text border-bottom" th:text="'Creator: ' + ${a.getCreator().getUsername()}"></p>
                      <p class="card-text border-bottom" th:text="'Price: $' + ${a.price}"></p>
                      <p class="card-text border-bottom" th:text="'Likes: '+ ${a.likes}"></p>
                      <p class="text-dark border-bottom" th:text="'Power: ' + ${a.getPower()}"></p>
                     <p class="card-text border-bottom" th:text="'Description: ' + ${a.getDescription()}"></p>
                      <p class="card-text border-bottom" th:text="'Created: ' + ${a.getCreated()}"></p>
                    </div>
                    <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/allHeroes/buy/{id}(id = ${a.getId()})}">Buy hero</a>
                    </div>
                    <div class="btn-group">
                    <a type="button submit" class="btn btn-sm btn-outline-secondary" th:href="@{/allHeroes/like-hero/{id}(id = ${a.getId()})}">Like hero!</a>
                    </div>


               </span>
                  <div class="allH row mx-auto d-flex flex-row justify-content-center">
                      <nav aria-label="Page navigation">
                     <ul class="pagination">

                    <li class="page-item" th:classappend="${allH.isFirst() ? 'disabled' : ''}">
                     <a th:unless="${allH.isFirst()}" class="page-link"
                      th:href="@{/allHeroes(size=${allH.getSize()}, page=${0})}">First</a>
                     <a th:if="${allH.isFirst()}" class="page-link" href="#">First</a>
                     </li>
                      <li th:if="${allH.hasPrevious()}" class="page-item active">
                        <a class="page-link" th:href="@{/allHeroes(size=${allH.getSize()}, page=${allH.getNumber() - 1})}">Previous</a>
                    </li>
                    <li th:if="${allH.hasNext()}" class="page-item">
                        <a class="page-link" th:href="@{/allHeroes(size=${allH.getSize()}, page=${allH.getNumber() + 1})}">Next</a>
                    </li>
                    <li class="page-item" th:classappend="${allH.isLast() ? 'disabled' : ''}">
                      <a th:unless="${allH.isLast()}" class="page-link"
                      th:href="@{/allHeroes(size=${allH.getSize()}, page=${allH.getTotalPages() - 1})}">Last</a>
                      <a th:if="${allH.isLast()}" class="page-link" href="#">Last</a>
                    </li>
                    </ul>
                    </nav>
                  </div>


              <div>
                     <a sec:authorize="hasRole('Artist')" class="nav-link text-primary active h5 text-stroke" th:href="@{/allHeroes/add}">Add hero</a>

             </div>

        </div>
    </div>
</div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>

