<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="p-5 align-content-center bg-blur my-register-div my-main">
    <h1 class="text    border-bottom mb-5">Login</h1>
    <div class="d-flex justify-content-center">

        <div class="row g-3 align-items-center">
            <form class="nav-link"
                  th:action="@{/login}"
                  th:method="post">


                <div>
                    <div class="col-auto">
                        <label for="username" class="col-form-label text">Username</label>
                        <input name="username"
                               id="username"
                               th:value="${username}"
                               type="text"
                               class="form-control"
                               placeholder="username">
                    </div>

                </div>
                <div>
                    <div class="col-auto">
                        <label for="password" class="col-form-label text">Password</label>
                        <input name="password"
                               id="password"
                               th:value="${password}"
                               type="password"
                               class="form-control"
                               placeholder="password">
                    </div>

                </div>
                <div class="col-auto">
                    <label for="rememberme" class="col-form-label text">Remember me!</label>
                    <input name="rememberme"
                           id="rememberme"
                           type="checkbox"
                    class="form-control">
                </div>
                <div th:if="${hasError}" class="text-center text bg-danger">User doesn't exists</div>

                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit">Login</button>
                </div>
            </form>
        </div>

    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
