<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>


<main class="container bg-blur rounded mt-1 mb-4">
        <dir class="container my-main">
            <h3 class="bg-blur text-dark  mb-0 mt-2">Shopping Bag</h3>
        </dir>
        <div class="container my-main">

            <span class="row-H">
                <span th:each="a : ${all}" th:object="${a}" >
                  <div class="column-H">
                        <div class="image-upload">
                        <label for="picture">
                            <img th:src="${a.getImgUrl()}" alt="cloudinary.com"/>
                        </label>
                        <input style="display: none" id="picture" type="file" th:name="picture"/>
                       </div>
                     <p class="card-text border-bottom" th:text="'Name: ' + ${a.getItemName()}"></p>

                     <p class="card-text border-bottom" th:text="'Price: $' + ${a.price}"></p>

                    </div>

               </span>
                     <div>
                    <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary text-dark" th:text="'Total price: $' + ${totalPrice}"></a>
                    </div>
                     <small class="text-muted">If you buy 3 items you get 20% discount!</small>
                     <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary text dark" th:text="'Discount price: $' + ${discountPrice}"></a>
                    </div>

                     <a class="nav-link text-primary active h5 text-Bold" th:href="@{/shoppingBag/pay}">Pay</a>
                     </div>

        </div>

        </div>
        </div>
        </div>
    </main>



<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>