<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main class="container bg-blur rounded mt-1 mb-4">

    <div>
        <a class="nav-link text-primary active h5 text-stroke" th:href="@{/home}">THANKS FOR YOUR INTEREST!
        We will get in touch with you as soon as possible!</a>
    </div>


</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>